<!DOCTYPE html>
<html lang="en">
<head th:insert="~{admin/fragments/head.html}"></head>

<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    <ul th:insert="~{admin/fragments/sidebar.html}" class="navbar-nav sidebar sidebar-dark accordion"
        id="accordionSidebar"
        style="background-color: #417cc0"></ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav th:insert="~{admin/fragments/nav.html}"
                 class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"></nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <div class="row">
                    <div class="container">
                        <div class="row justify-content-center align-items-center">
                            <div class="col-md-6 my-auto">

                                <h1 class="pt-3">Edit A Index Of Form</h1>

                                <form th:action="@{/admin/index-of-forms/update/{id}(id=${indexofforms.id})}"
                                      th:object="${indexofforms}" method="post" enctype="multipart/form-data">

                                    <div class="form-group">

                                        <label for="formName">Form Name</label>
                                        <input type="text" name="formName" th:field="${indexofforms.formName}"
                                               id="formName"
                                               placeholder="Form Name" class="form-control"/>
                                        <span th:if="${#fields.hasErrors('formName')}"
                                              th:errors="*{indexofforms.formName}"></span>
                                    </div>

                                    <div class="form-group">
                                        <label for="file">Form Upload</label>
                                        <input type="file" name="file" id="file" placeholder="Form Upload"
                                               accept="application/pdf" class="form-control"/>
                                    </div>

                                    <div class="form-group pt-3">
                                        <input type="submit" value="Add Index Of Forms" class="btn btn-primary">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <footer th:insert="~{admin/fragments/footer.html}" class="sticky-footer bg-white"></footer>
</div>
</div>

<div th:insert="~{admin/fragments/scripts.html}"></div>
<script>
    //show/hide select option fields
    $(function() {
        $('#formFileInput').hide();
        $('#formMessageInput').hide();

        $('#formOptions').change(function(){
            if($('#formOptions').val() == 'formMessageOption') {
                $('#formMessageInput').show();
                $('#formFileInput').hide();
            }
            if($('#formOptions').val() == 'formUploadOption') {
                $('#formFileInput').show();
                $('#formMessageInput').hide();
            }
        });
    });
</script>
</body>
</html>
