<!DOCTYPE html>
<html lang="en">
<head th:insert="~{admin/fragments/head.html}"></head>

<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    <ul th:insert="~{admin/fragments/sidebar.html}" class="navbar-nav sidebar sidebar-dark accordion"
        id="accordionSidebar"
        style="background-color: #417cc0"></ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav th:insert="~{admin/fragments/nav.html}"
                 class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"></nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div class="row">
                    <div th:switch="${indexofforms}">
                        <h2 th:case="null">No Index Of Forms yet!</h2>
                        <div th:case="*">
                            <h2>Index Of Forms</h2>
                            <p class="pt-2 pb-3"><a href="/admin/index-of-forms/create" class="btn btn-primary"><i
                                    class="fa-solid fa-plus"></i> Add a new
                                Index Of Form</a></p>

                            <table id="adminTable" class="table table-striped" style="width:100%">
                                <thead>
                                <tr>
                                    <th>Form Name</th>
                                    <th>Form Url/Message</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="IndexOfFormsModel : ${indexofforms}">
                                    <td th:text="${IndexOfFormsModel.formName}"></td>
                                    <td>
                                        <a th:href="${currentUrl + IndexOfFormsModel.filePath}"
                                           target="_blank">
                                            <span th:text="${IndexOfFormsModel.filePath}"></span>
                                        </a>
                                    </td>

                                    <td><a th:href="@{/admin/index-of-forms/edit/{id}(id=${IndexOfFormsModel.id})}"
                                           class="btn btn-info"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
                                        <a th:href="@{/admin/index-of-forms/delete/{id}(id=${IndexOfFormsModel.id})}"
                                           class="btn btn-danger"><i class="fa-solid fa-trash-can"></i> Delete</a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer th:insert="~{admin/fragments/footer.html}" class="sticky-footer bg-white"></footer>
    </div>
</div>

<div th:insert="~{admin/fragments/scripts.html}"></div>

</body>
</html>
