<div class="container">
        <div class="row">
            <!-- Footer Location-->
            <div class="col-lg-2 mb-5 mb-lg-0">
                <img src="assets/img/ccsd-main-logo-white.png" alt="Clark County School District" style="width: 120px;">
            </div>
            <!-- Footer Social Icons-->
            <div class="col-lg-3 mb-5 mb-lg-0">
                <!--                <h4 class="footer-titles">Contact Us</h4>-->
                <p class="text-white">Nedra N. Joyce Communications Center
                    Building #5<br>4212 Eucalyptus Avenue<br>
                    Las Vegas, NV 89121
                </p>

            </div>
            <div class="col-lg-3 mb-5 mb-lg-0">
                <!--                <h4 class="footer-titles">Social</h4>-->
                <p class="text-white">Phone: <a href="">phone</a><br>Fax: <a href="tel:">fax</a><br>Email: <a href="">email</a></p>
                <p class="text-white">Business Hours:<br> 7:00 a.m. - 4:00 p.m.</p>
            </div>

            <!-- Footer About Text-->
            <div class="col-lg-4">
                <!--                <h4 class="footer-titles">Links</h4>-->
                <p><a href="https://ccsd.net/district/info/title-ix.php" target="_blank" rel="noopener"
                      title="Title IX">Title IX</a>
                </p>
                <p><a href="http://ccsd.net/district/accessibility-statement/" target="_blank"
                      rel="noopener" title="Accessibility Statement">Accessibility Statement</a></p>
                <p><a href="https://www.ccsd.net/district/info/non-discrimination/" target="_blank"
                      rel="noopener" title="Notice of Nondiscrimination">Notice of Nondiscrimination</a></p>
                <p><a href="https://www.ccsd.net/district/anti-racism/" target="_blank" rel="noopener" title="Policy 5139
                            Anti-Racism,<br>Equity, and Inclusion">Policy 5139
                    Anti-Racism, Equity, and Inclusion</a></p>
                <p><a href="/login">Login</a></p>
            </div>
        </div>
    </div>
