<div class="container">

    <h2 class="page-section-heading text-center text-uppercase mb-5">Graphic Art Work Requests</h2>

    <div class="container">
        <div class="row">
            <div class="col-sm p-3">
                <div class="card shadow text-center pt-3" style="
      border-top: 5px solid #1671b7;
      border-left: 1px solid lightgrey;
      border-right: 1px solid lightgrey;
      border-bottom: 1px solid lightgrey;
      min-height: 5rem;
      ">
                    <div class="card-body">
                        <p style="text-align:center"><img src="assets/img/icons/work-request-form.png"
                                                          alt="Work Request Form"/></p>
                        <h5 class="card-title mt-0" style="color:#838484">Work Request Form</h5>
                    </div>
                    <div class="card-footer text-center pb-4">
                        <a href="/NewFiles/GAC.2006.Site/PDFs/Graphic_Arts_Center/7500-GAC_WO.pdf"
                           class="btn btn-primary shadow"
                           style="background-color:#1671b7;border:1px solid #1671b7;" download>Download</a>
                    </div>
                </div>
            </div>
            <div class="col-sm  p-3">
                <div class="card shadow text-center  pt-3" style="
      border-top: 5px solid #1671b7;
      border-left: 1px solid lightgrey;
      border-right: 1px solid lightgrey;
      border-bottom: 1px solid lightgrey;
      min-height: 5rem;
      ">
                    <div class="card-body">
                        <p style="text-align:center"><img src="assets/img/icons/quick-form-request.png"
                                                          alt="Quick Copy Form"/></p>
                        <h5 class="card-title mt-0" style="color:#838484">Quick Copy Form</h5>
                    </div>
                    <div class="card-footer text-center pb-4">
                        <a href="/NewFiles/GAC.2006.Site/PDFs/Graphic_Arts_Center/7500.2-QUICKCOPY.REQUEST-fillable.pdf"
                           class="btn btn-primary shadow"
                           style="background-color:#1671b7;border:1px solid #1671b7;" download>Download</a>
                    </div>
                </div>
            </div>
            <div class="col-sm  p-3">
                <div class="card shadow text-center pt-3" style="
      border-top: 5px solid #1671b7;
      border-left: 1px solid lightgrey;
      border-right: 1px solid lightgrey;
      border-bottom: 1px solid lightgrey;

      ">
                    <div class="card-body">
                        <p style="text-align:center"><img src="assets/img/icons/business-card-form.png"
                                                          alt="Business Card Order Form"/></p>
                        <h5 class="card-title mt-0" style="color:#838484">Business Card Order Form</h5>
                    </div>


                    <div class="card-footer text-center pb-4">
                        <a href="/NewFiles/GAC.2006.Site/PDFs/Graphic_Arts_Center/Bus_Card_Order_Form.pdf"
                           class="btn btn-primary shadow"
                           style="background-color:#1671b7;border:1px solid #1671b7;" download>Download</a>
                    </div>

                </div>
            </div>
            <div class="col-sm p-3">
                <div class="card shadow text-center pt-3" style="
      border-top: 5px solid #1671b7;
      border-left: 1px solid lightgrey;
      border-right: 1px solid lightgrey;
      border-bottom: 1px solid lightgrey;

      ">
                    <div class="card-body">
                        <p style="text-align:center"><img src="assets/img/icons/holiday-card.png"
                                                          alt="Holiday Card Order Form"/></p>
                        <h5 class="card-title mt-0" style="color:#838484">Holiday Card Order Form</h5>
                    </div>
                    <div class="card-footer text-center pb-4">
                        <a href="/NewFiles/GAC.2006.Site/PDFs/Graphic_Arts_Center/7518.5-HolidayCard-OrderForm2020.pdf"
                           class="btn btn-primary shadow"
                           style="background-color:#1671b7;border:1px solid #1671b7;" download>Download</a>
                    </div>

                </div>
            </div>
        </div>
    </div>


</div>