<!DOCTYPE html>
<html lang="en">
<head th:insert="~{admin/fragments/head.html}"></head>

<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    <ul th:insert="~{admin/fragments/sidebar.html}" class="navbar-nav sidebar sidebar-dark accordion"
        id="accordionSidebar"
        style="background-color: #417cc0"></ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav th:insert="~{admin/fragments/nav.html}"
                 class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"></nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">


                <div class="row">
                    <div class="container">
                        <div class="row justify-content-center align-items-center">
                            <div class="col-md-6 my-auto">
                                <h1>Create A Form Download</h1>

                                <form th:action="@{/admin/form-downloads/create}" th:object="${formDownloadsDto}" method="post"
                                      enctype="multipart/form-data">

                                    <div class="form-group">
                                        <label for="formName">Form Type</label>
                                        <input type="text" name="formType" th:field="${formDownloadsDto.formType}" id="formType"
                                               placeholder="Form Type" class="form-control"
                                               required
                                               oninvalid="this.setCustomValidity('Form Type Is Required')"
                                               oninput="this.setCustomValidity('')"
                                        />
                                        <span th:if="${#fields.hasErrors('formType')}"
                                              th:errors="*{formDownloadsDto.formType}"></span>

                                    </div>

                                    <div class="form-group">
                                        <label for="formNumber">Form Number</label>
                                        <input type="text" name="formNumber" th:field="${formDownloadsDto.formNumber}" id="formNumber"
                                               placeholder="Form Number" class="form-control"
                                               required
                                               oninvalid="this.setCustomValidity('Form Number Is Required')"
                                               oninput="this.setCustomValidity('')"
                                        />
                                        <span th:if="${#fields.hasErrors('formNumber')}"
                                              th:errors="*{formDownloadsDto.formNumber}"></span>

                                    </div>

                                    <div class="form-group">
                                    <label for="formName">Form Name</label>
                                    <input type="text" name="formName" th:field="${formDownloadsDto.formName}" id="formName"
                                           placeholder="Form Name" class="form-control"
                                           required
                                           oninvalid="this.setCustomValidity('Form Name Is Required')"
                                           oninput="this.setCustomValidity('')"
                                    />
                                    <span th:if="${#fields.hasErrors('formName')}"
                                          th:errors="*{formDownloadsDto.formName}"></span>

                                    </div>

                                    <div class="form-group">
                                        <label for="formOptions">Form Options</label>
                                        <p><strong><i>Select whether you would like to display a message or upload a file.</i></strong></p>
                                        <select name="formOptions" id="formOptions" class="form-select">
                                            <option name="defaultMessage" value="defaultMessage">Please Select A Value Below</option>
                                            <option name="formMessageOption" value="formMessageOption">Form Message</option>
                                            <option name="formUploadOption" value="formUploadOption">Form Upload</option>
                                        </select>
                                    </div>

                                    <div id="formMessageInput" class="form-group">
                                        <label for="formMessage">Form Message</label>
                                        <textarea type="text" name="formMessage" th:field="${formDownloadsDto.formMessage}" id="formMessage"
                                                  placeholder="Form Message" class="form-control"></textarea>
                                        <span th:if="${#fields.hasErrors('formMessage')}" th:errors="*{formDownloadsDto.formMessage}"></span>
                                    </div>

                                    <div id="formFileInput" class="form-group">
                                    <label for="file">Form Upload</label>
                                    <input type="file" name="file" th:field="${formDownloadsDto.file}" id="file"
                                           placeholder="Form Upload"
                                           accept="application/pdf" class="form-control"/>
                                    <span th:if="${#fields.hasErrors('file')}" th:errors="*{formDownloadsDto.file}"></span>
                                    </div>

                                    <input type="submit" value="Add Form Download" class="btn btn-primary">

                                </form>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <footer th:insert="~{admin/fragments/footer.html}" class="sticky-footer bg-white"></footer>
    </div>
</div>

<div th:insert="~{admin/fragments/scripts.html}"></div>
<script>
    //show/hide select option fields
    $(function() {
        $('#formFileInput').hide();
        $('#formMessageInput').hide();

        $('#formOptions').change(function(){
            if($('#formOptions').val() == 'formMessageOption') {
                $('#formMessageInput').show();
                $('#formFileInput').hide();
            }
            if($('#formOptions').val() == 'formUploadOption') {
                $('#formFileInput').show();
                $('#formMessageInput').hide();
            }
            if($('#formOptions').val() == 'defaultMessage') {
                $('#formFileInput').hide();
                $('#formMessageInput').hide();
            }
        });
    });
</script>
</body>
</html>