<!DOCTYPE html>
<html lang="en">

<body id="page-top">

<head th:insert="~{public/fragments/head.html}"></head>

<nav class="navbar navbar-expand-lg bg-blue text-uppercase fixed-top" id="mainNav"
     th:insert="~{public/fragments/nav.html}"></nav>

<header class="masthead masthead-bg-lightblue bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <h1 class="masthead-heading text-uppercase mb-0 header-top">
            GRAPHIC ARTS CENTER
        </h1>

        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-3 text-white">
            Request Graphics, Forms and Documents
        </p>

        <div class="btn-toolbar text-center" role="group" aria-label="Header Buttons">
            <center>
                <a href="/#directions" class="btn btn-dark mb-0 pr-2 btn-lg"
                   style="margin-right: 5px; background-color: #0d3a5d;border-color: #0d3a5d;" title="Contact Us"><i
                        class="fa-solid fa-circle-question"></i> How To Submit Work Requests</a>

                <a href="/#graphic_request_forms"
                   class="btn btn-info pr-2 btn-lg"
                   style="color:black; background-color: #c7d6eb;border:1px solid #c7d6eb; margin-right:5px; background-color:white; border:white;"
                   title="Graphics Request Forms"><i class="fa-solid fa-file-word"></i> Work Requests</a>

                <a href="#contact" class="btn btn-dark mb-0 pr-2 btn-lg"
                   style="margin-right: 5px; background-color: #0d3a5d;border-color: #0d3a5d;" title="Contact Us"><i
                        class="fa-solid fa-file-import"></i> Submit Work Requests</a>
            </center>
        </div>
    </div>
</header>

<section class="page-section" id="about" th:insert="~{public/fragments/sections/about}"></section>

<section class="page-section" id="products" style="background-color: #f9f9f9;"
         th:insert="~{public/fragments/sections/products}"></section>

<section class="page-section" id="directions" th:insert="~{public/fragments/sections/directions}"></section>

<section class="page-section" id="graphic_request_forms"
         th:insert="~{public/fragments/sections/form-requests}"></section>

<section class="page-section" id="contact" style="background-color: #f9f9f9"
         th:insert="~{public/fragments/sections/footer-contact}"></section>

<footer class="footer" th:insert="~{public/fragments/sections/footer}"></footer>

<div class="copyright py-4 text-center text-white" th:insert="~{public/fragments/sections/copywrite}"></div>

<div th:insert="~{public/fragments/sections/scripts}"></div>

</body>

</html>