<!DOCTYPE html>
<html lang="en">
<head th:insert="~{admin/fragments/head.html}"></head>

<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    <ul th:insert="~{admin/fragments/sidebar.html}" class="navbar-nav sidebar sidebar-dark accordion"
        id="accordionSidebar"
        style="background-color: #417cc0"></ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav th:insert="~{admin/fragments/nav.html}"
                 class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"></nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <div class="row">
                    <div class="container">
                        <div class="row justify-content-center align-items-center">
                            <div class="col-md-6 my-auto">
                                <h1>Edit Download</h1>
                                <form th:action="@{/admin/downloads/update/{id}(id=${downloads.id})}"
                                      th:object="${downloads}" method="post" enctype="multipart/form-data">
                                    <!--    <input type="hidden" th:field="${downloads.id}" />-->

                                    <div class="form-group">
                                    <label for="formName">Form Name</label>
                                    <input type="text" name="formName" th:field="${downloads.formName}" id="formName"
                                           placeholder="Form Name" class="form-control"/>
                                    <span th:if="${#fields.hasErrors('formName')}"
                                          th:errors="*{downloads.formName}"></span>
                                    </div>

                                    <div class="form-group">
                                        <label for="category">Category</label>
                                    <select th:field="*{category}" class="form-control">
                                        <option th:value="'graphics_arts_work_requests'"
                                                th:text="'Graphic Arts Center Work Requests'"></option>
                                        <option th:value="'directories'" th:text="Directories"></option>
                                        <option th:value="'ccsd_logos'" th:text="'CCSD Logos'"></option>
                                        <option th:value="'ccsd_logos_with_leadership'"
                                                th:text="'CCSD Logos with Leadership List (Leadership Lockup)'"></option>
                                        <option th:value="'ccsd_board_of_trustees'"
                                                th:text="'CCSD Board of School Trustees Vision Statement'"></option>
                                        <option th:value="'ccsd_letterhead'" th:text="'CCSD Letterhead'"></option>
                                        <option th:value="'ccsd_templates'" th:text="'CCSD Templates'"></option>
                                        <option th:value="'school_logos'" th:text="'School Logos'"></option>
                                        <option th:value="'ccsd_employee_dress_style'"
                                                th:text="'CCSD Employee Dress Style Guidelines'"></option>
                                    </select>
                                    </div>

                                    <div class="form-group">
                                    <label for="file">Form Upload</label>
                                    <input type="file" name="file" id="file" placeholder="Form Upload"
                                           accept="application/pdf" class="form-control"/>
                                    </div>

                                    <div class="form-group">
                                    <input type="submit" value="Add A Download" class="btn btn-primary">
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


    </div>
    <footer th:insert="~{admin/fragments/footer.html}" class="sticky-footer bg-white"></footer>
</div>


<div th:insert="~{admin/fragments/scripts.html}"></div>

</body>
</html>
