<!DOCTYPE html>
<html lang="en">
<head th:insert="~{admin/fragments/head.html}"></head>

<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    <ul th:insert="~{admin/fragments/sidebar.html}" class="navbar-nav sidebar sidebar-dark accordion"
        id="accordionSidebar"
        style="background-color: #417cc0"></ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav th:insert="~{admin/fragments/nav.html}"
                 class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"></nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <div class="row">

                    <div th:switch="${downloads}">
                        <h2 th:case="null">No Current Evaluations yet!</h2>
                        <div th:case="*">
                            <h2>Downloads</h2>
                            <p class="pt-2 pb-3"><a href="/admin/downloads/create" class="btn btn-primary"><i class="fa-solid fa-plus"></i> Add a new Download</a></p>

                            <table id="adminTable" class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Form Name</th>
                                    <th>Form Url</th>
                                    <th>Category</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="downloadModel : ${downloads}">
                                    <td th:text="${downloadModel.formName}"></td>
                                    <td>
                                        <a th:href="${currentUrl + downloadModel.filePath}" target="_blank">
                                            <span th:text="${downloadModel.filePath}"></span>
                                        </a>
                                    </td>
                                    <td>
                                       <span th:if="${downloadModel.category == 'graphics_arts_work_requests'}">
                                           Graphic Arts Center Work Requests
                                       </span>
                                        <span th:if="${downloadModel.category == 'directories'}">
                                            Directories
                                        </span>
                                        <span th:if="${downloadModel.category == 'ccsd_logos'}">
                                            CCSD Logos
                                        </span>
                                        <span th:if="${downloadModel.category == 'ccsd_logos_with_leadership_English_png_files'}">
                                            CCSD Logos with Leadership List (Leadership Lockup) English png Files
                                        </span>
                                        <span th:if="${downloadModel.category == 'ccsd_logos_with_leadership_english_jpg_files'}">
                                            CCSD Logos with Leadership List (Leadership Lockup) English jpg files
                                        </span>
                                        <span th:if="${downloadModel.category == 'ccsd_logos_with_leadership_spanish_png_files'}">
                                            CCSD Logos with Leadership List (Leadership Lockup) Spanish png files
                                        </span>
                                        <span th:if="${downloadModel.category == 'ccsd_logos_with_leadership_spanish_jpg_files'}">
                                            CCSD Logos with Leadership List (Leadership Lockup) Spanish jpg files
                                        </span>
                                        <span th:if="${downloadModel.category == 'ccsd_board_of_trustees'}">
                                            CCSD Board of School Trustees Vision Statement
                                        </span>
                                        <span th:if="${downloadModel.category == 'ccsd_letterhead'}">
                                            CCSD Letterhead
                                        </span>
                                        <span th:if="${downloadModel.category == 'ccsd_letterhead_dept_at_sahara'}">
                                            CCSD Letterhead For Departments Located at 5100 W. Sahara ONLY:
                                        </span>
                                        <span th:if="${downloadModel.category == 'ccsd_templates'}">
                                            CCSD Templates
                                        </span>
                                        <span th:if="${downloadModel.category == 'school_logos'}">
                                            School Logos
                                        </span>
                                        <span th:if="${downloadModel.category == 'ccsd_employee_dress_style'}">
                                            CCSD Employee Dress Style Guidelines
                                        </span>

                                    </td>

                                    <td><a th:href="@{/admin/downloads/edit/{id}(id=${downloadModel.id})}" class="btn btn-info"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
                                    <a th:href="@{/admin/downloads/delete/{id}(id=${downloadModel.id})}" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i>  Delete</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <footer th:insert="~{admin/fragments/footer.html}" class="sticky-footer bg-white"></footer>
    </div>
</div>

<div th:insert="~{admin/fragments/scripts.html}"></div>

</body>
</html>