<div class="row">
    <h1 class="pb-3">Dashboard</h1>
    <!-- Content Column -->
    <div class="col-lg-6 mb-4">
        <!-- Project Card Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Index Of Forms</h6>
            </div>
            <div class="card-body">

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <td>Form Name</td>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="indexofforms : ${indexofforms}">
                            <td>
                                <a th:href="${currentUrl + indexofforms.filePath}" target="_blank">
                                        <span  th:text="${indexofforms.formName}"></span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <div class="col-lg-6 mb-4">
        <!-- Illustrations -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">
                    Form Downloads
                </h6>
            </div>
            <div class="card-body">


                <table class="table table-striped">
                    <thead>
                    <tr>
                        <td>Form Type</td>
                        <td>Form Number</td>
                        <td>Form Name</td>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="formdownloads : ${formdownloads}">
                        <td th:text="${formdownloads.formType}"></td>
                        <td th:text="${formdownloads.formNumber}"></td>
                        <td>
                            <a th:href="${currentUrl + formdownloads.filePath}" target="_blank">
                                <span  th:text="${formdownloads.formName}"></span>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </div>


    </div>
</div>


<div class="row">
    <!-- Content Column -->
    <div class="col-lg-6 mb-4">
        <!-- Project Card Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Site Based Contracts</h6>
            </div>
            <div class="card-body">

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <td>Form Name</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="sitebasedcontracts : ${sitebasedcontracts}">
                        <td>
                            <a th:href="${currentUrl + sitebasedcontracts.filePath}" target="_blank">
                                    <span  th:text="${sitebasedcontracts.formName}"></span>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <div class="col-lg-6 mb-4">
        <!-- Illustrations -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">
                    Current Evaluations
                </h6>
            </div>
            <div class="card-body">

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <td>Form Name</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="currentevaluations : ${currentevaluations}">
                        <td>
                            <a th:href="${currentUrl + currentevaluations.filePath}" target="_blank">
                                    <span  th:text="${currentevaluations.formName}"></span>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>


    </div>
</div>

<div class="row">
    <!-- Content Column -->
    <div class="col-lg-6 mb-4">
        <!-- Project Card Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Downloads</h6>
            </div>
            <div class="card-body">

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <td>Form Name</td>
                        <td>Category</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="downloads : ${downloads}">
                        <td>
                            <a th:href="${currentUrl + downloads.filePath}" target="_blank">
                                    <span  th:text="${downloads.formName}"></span>
                            </a>
                        </td>
                        <td>
                              <span th:if="${downloads.category == 'graphics_arts_work_requests'}">
                                           Graphic Arts Center Work Requests
                                       </span>
                            <span th:if="${downloads.category == 'directories'}">
                                            Directories
                                        </span>
                            <span th:if="${downloads.category == 'ccsd_logos'}">
                                            CCSD Logos
                                        </span>
                            <span th:if="${downloads.category == 'ccsd_logos_with_leadership_English_png_files'}">
                                            CCSD Logos with Leadership List (Leadership Lockup) English png Files
                                        </span>
                            <span th:if="${downloads.category == 'ccsd_logos_with_leadership_english_jpg_files'}">
                                            CCSD Logos with Leadership List (Leadership Lockup) English jpg files
                                        </span>
                            <span th:if="${downloads.category == 'ccsd_logos_with_leadership_spanish_png_files'}">
                                            CCSD Logos with Leadership List (Leadership Lockup) Spanish png files
                                        </span>
                            <span th:if="${downloads.category == 'ccsd_logos_with_leadership_spanish_jpg_files'}">
                                            CCSD Logos with Leadership List (Leadership Lockup) Spanish jpg files
                                        </span>
                            <span th:if="${downloads.category == 'ccsd_board_of_trustees'}">
                                            CCSD Board of School Trustees Vision Statement
                                        </span>
                            <span th:if="${downloads.category == 'ccsd_letterhead'}">
                                            CCSD Letterhead
                                        </span>
                            <span th:if="${downloads.category == 'ccsd_letterhead_dept_at_sahara'}">
                                            CCSD Letterhead For Departments Located at 5100 W. Sahara ONLY:
                                        </span>
                            <span th:if="${downloads.category == 'ccsd_templates'}">
                                            CCSD Templates
                                        </span>
                            <span th:if="${downloads.category == 'school_logos'}">
                                            School Logos
                                        </span>
                            <span th:if="${downloads.category == 'ccsd_employee_dress_style'}">
                                            CCSD Employee Dress Style Guidelines
                                        </span>

                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>

    </div>
    <div class="col-lg-6 mb-4">
        <!-- Illustrations -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">
                    School Logos
                </h6>
            </div>
            <div class="card-body">

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <td>School Logo Name</td>
                        <td>School Logo Image</td>
                        <td>Grade Level</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="schoollogos : ${schoollogos}">
                        <td>
                            <a th:href="${currentUrl + schoollogos.filePath}" target="_blank">
                                <span  th:text="${schoollogos.formName}"></span>
                            </a>
                        </td>
                        <td>
                            <img th:src="${currentUrl + schoollogos.filePath}" height="50" width="50" />
                        </td>
                        <td>
                            <span th:if="${schoollogos.category == 'elementary_school'}">
                                Elementary School
                            </span>
                            <span th:if="${schoollogos.category == 'high_school_logo'}">
                                High School
                            </span>
                            <span th:if="${schoollogos.category == 'middle_school_logo'}">
                                Middle School
                            </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>


    </div>

</div>