
  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center"
     href="/admin/dashboard">
    <img src="/img/ccsd-logo-np.png"
         alt="CCSD"
         width="120px"
         style="
              margin-bottom: 10px;
              margin-top: 20px;
              padding-top: 25px;
              padding-left: 0px !important;
            "/>
  </a>
  <br/>
  <!-- Divider -->
  <hr/>
<!--  <h2 style="color:white;font-size:20px;padding:14px;border-bottom:1px dotted white;width:90%;margin-left:10px;">-->
<!--    Work Requests</h2>-->

<!--  &lt;!&ndash; Nav Item - Tables &ndash;&gt;-->
<!--  <li class="nav-item">-->
<!--    <a class="nav-link" href="/admin/work-requests/">-->
<!--      <i class="fas fa-fw fa-table"></i>-->
<!--      <span>Inbox</span>-->
<!--    </a>-->
<!--  </li>-->


  <!-- Nav Item - Dashboard -->
<!--  <h2 style="color:white;font-size:20px;padding:14px;border-bottom:1px dotted white;width:90%;margin-left:10px;">-->
<!--    Forms & Archives</h2>-->

  <!-- Nav Item - Tables -->
  <li class="nav-item">
    <a class="nav-link" href="/admin/contacts">
      <i class="fas fa-fw fa-table"></i>
      <span>Directory Contacts</span>
    </a>
  </li>
  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block"/>

<!--  <li class="nav-item">-->
<!--    <a class="nav-link" href="/admin/form-downloads/">-->
<!--      <i class="fas fa-fw fa-table"></i>-->
<!--      <span>Form Downloads</span>-->
<!--    </a>-->
<!--  </li>-->

  <!-- Divider -->
<!--  <hr class="sidebar-divider d-none d-md-block"/>-->

<!--  <li class="nav-item">-->
<!--    <a class="nav-link" href="/admin/site-based-contracts/">-->
<!--      <i class="fas fa-fw fa-table"></i>-->
<!--      <span>Site Based Contracts</span>-->
<!--    </a>-->
<!--  </li>-->

  <!-- Divider -->
<!--  <hr class="sidebar-divider d-none d-md-block"/>-->

<!--  <li class="nav-item">-->
<!--    <a class="nav-link" href="/admin/current-evaluations/">-->
<!--      <i class="fas fa-fw fa-table"></i>-->
<!--      <span>Current Evaluations</span>-->
<!--    </a>-->
<!--  </li>-->

  <!-- Divider -->
<!--  <hr class="sidebar-divider d-none d-md-block"/>-->
<!--  <h2 style="color:white;font-size:20px;padding:14px;border-bottom:1px dotted white;width:90%;margin-left:10px;">-->
<!--    Templates & Logos</h2>-->

<!--  <li class="nav-item">-->
<!--    <a class="nav-link" href="/admin/downloads/">-->
<!--      <i class="fas fa-fw fa-table"></i>-->
<!--      <span>Downloads</span>-->
<!--    </a>-->
<!--  </li>-->

  <!-- Divider -->
<!--  <hr class="sidebar-divider d-none d-md-block"/>-->

<!--  <li class="nav-item">-->
<!--    <a class="nav-link" href="/admin/school-logos/">-->
<!--      <i class="fas fa-fw fa-table"></i>-->
<!--      <span>School Logos</span>-->
<!--    </a>-->
<!--  </li>-->

  <!-- Divider -->
<!--  <hr class="sidebar-divider d-none d-md-block"/>-->
  <!-- Sidebar Message -->
  <!-- <div class="sidebar-card d-none d-lg-flex">
          <img class="sidebar-card-illustration mb-2" src="img/undraw_rocket.svg" alt="...">
          <p class="text-center mb-2"><strong>SB Admin Pro</strong> is packed with premium features, components, and more!</p>
          <a class="btn btn-success btn-sm" href="https://startbootstrap.com/theme/sb-admin-pro">Upgrade to Pro!</a>
      </div> -->
